@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-50">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Cadastre os seus produtos</h5>
                <p class="card-text">De Forma rápida e fácil</p>
                <a href="Produtos/Create" class="btn btn-success">Go Ahead</a>
            </div>
        </div>
    </div>
    <div class="col-sm-50">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Cadastre os seus Fornecedore´s</h5>
                <p class="card-text"> Controle de ocorrencias de seus fornecedores</p>
                <a href="~/Fornecedors/Create" class="btn btn-success">Go Ahead</a>
            </div>
        </div>
    </div>
    <div class="col-sm-50">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Cadastre e controle suas filiais</h5>
                <p class="card-text"> Cadastre e controle a acuracidade de suas filiais</p>
                <a href="~/Views/" class="btn btn-success">Go Ahead</a>
            </div>
        </div>
    </div>
</div>